<body>
  <br>
  <br>
  <div class="row s">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Tecnologie</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">9 -- 07/06/2021</li>
            <li class="list-group-item bg-success">8 -- 18/05/2021</li>
            <li class="list-group-item bg-success">7 -- 13/04/2021</li>
            <li class="list-group-item bg-danger">5,5 -- 16/02/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Sistemi</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary">8 -- 03/06/2021</li>
            <li class="list-group-item bg-danger">4 -- 14/05/2021</li>
            <li class="list-group-item bg-primary ">6,5 -- 29/03/2021</li>
            <li class="list-group-item bg-primary">8 -- 02/03/2021</li>
            <li class="list-group-item bg-primary">7 -- 16/02/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Inglese</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary">8 -- 20/05/2021</li>
            <li class="list-group-item bg-primary">8 -- 07/05/2021</li>
            <li class="list-group-item bg-primary ">7 -- 09/04/2021</li>
            <li class="list-group-item bg-danger">5 -- 26/03/2021</li>
            <li class="list-group-item bg-primary">6 -- 12/03/2021</li>
            <li class="list-group-item bg-primary">7 -- 04/03/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-success mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Gestione</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">8 -- 19/05/2021</li>
            <li class="list-group-item bg-success">8 -- 03/03/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-success mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Scienze Motorie</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">9 -- 12/05/2021</li>
            <li class="list-group-item bg-success">10 -- 21/04/2021</li>
            <li class="list-group-item bg-success">9,5 -- 21/04/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Lingua e Lettere Italiane</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary">8- -- 10/05/2021</li>
            <li class="list-group-item bg-primary">8+ -- 12/04/2021</li>
            <li class="list-group-item bg-primary">7- -- 02/03/2021</li>
            <li class="list-group-item bg-primary">7+ -- 16/02/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-secondary mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Informatica</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary">9 -- 05/05/2021</li>
            <li class="list-group-item bg-danger">5 -- 28/04/2021</li>
            <li class="list-group-item bg-secondary">8 -- 26/04/2021</li>
            <li class="list-group-item bg-danger">5 -- 08/03/2021</li>
            <li class="list-group-item bg-secondary">7 -- 08/03/2021</li>
            <li class="list-group-item bg-secondary">6,5 -- 15/02/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-success mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Matematica</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">9,5 -- 29/04/2021</li>
            <li class="list-group-item bg-success">7 -- 29/03/2021</li>
            <li class="list-group-item bg-success">7 -- 18/03/2021</li>
            <li class="list-group-item bg-success">6,5 -- 01/03/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Storia</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">8- -- 09/03/2021</li>
            <li class="list-group-item bg-success">8- -- 04/03/2021</li>
          </ul>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3 s" style="max-width: 18rem;">
      <div class="card-header">Prova Materia insuf</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-danger">3 -- 12/05/2021</li>
            <li class="list-group-item bg-danger">4 -- 04/04/2021</li>
            <li class="list-group-item bg-primary">6 -- 20/03/2021</li>
          </ul>
      </div>
    </div>
  </div>

</body>
