
<div class="jumbotron bg-transparent text-center">
  <img class="img-fluid card-img-top rounded" style="width:10%" src="../assets/logo.png">
  <br>
  <br>

  <div *ngIf="!utente" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signInWithGoogle()"><span class="fab fa-google"></span>Google</button>
    </div>
  </div>
  <div *ngIf="utente" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img *ngIf="utente.photoUrl" class="card-img-top img-responsive photo" src="{{ utente.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ utente.name }}</h4>
      <p class="card-text">{{ utente.email }}</p>
      <p class="card-text">Logged in with {{ utente.provider }}</p>
      <a href="#" class="btn btn-dark"> Tua Mamma </a>
    </div>
    <br>
  </div>
</div>
